---
import { createSupabaseServerInstance } from "@/db/supabase.client";
import GuestLayout from "@/layouts/GuestLayout.astro";
import LoginForm from "@/modules/auth/components/LoginForm";

// Check if user is already logged in
const supabase = createSupabaseServerInstance({
  cookies: Astro.cookies,
  headers: Astro.request.headers,
});

const {
  data: { user },
} = await supabase.auth.getUser();

// If user is already logged in, redirect to home page
if (user) {
  return Astro.redirect("/diets");
}
---

<GuestLayout title="Zaloguj się">
  <div class="grid grid-cols-1 md:grid-cols-2 min-h-screen w-full">
    <img src="/bg_egg.jpg" alt="Background" class="object-cover hidden md:block w-full h-full" />

    <div class="container flex items-center justify-center">
      <div class="w-[calc(100%-2rem)] md:w-full max-w-md mx-auto p-6 space-y-8 bg-white shadow-lg rounded-lg">
        <div class="text-center">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">Zaloguj się</h1>
          <p class="mt-4 text-sm text-gray-600">Wprowadź swoje dane, aby kontynuować</p>
        </div>

        <LoginForm client:load />
      </div>
    </div>
  </div>
</GuestLayout>
